<!DOCTYPE html>
<html>
    <head>
        <title>Curriculum vitae - Alisson Souza</title>
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <h1>Alisson Valdir de Souza</h1>

            <p>Brazil - Campo Mourão</p>
            <p>+55 44 988071286</p>
            <p>alissonvsouza8@gmail.com</p>
            <p>https://github.com/avza</p>
            <p>https://www.linkedin.com/in/alisson-souza</p>
        </div>

        <div id="education">
                <h2>Formação</h2>
    
                <div class="course">
                    <p><span>Análise e desenvolvimento de sistemas</span> (Jul'2018)</p>
                    <p>UniCesumar</p>
                </div>
            </div>

        <div id="history">
            <h2>Histórico</h2>

            <div class="job">
                <p><span>BackEnd Developer</span> (Oct'2018 - Atual)</p>
                <p>Desenvolvimento de aplicações utilizando NodeJS e banco de dados MySQL.</p>
            </div>
        </div>
    </body>
</html>
