body {
    font-family: 'Muli', sans-serif;
    margin: 10px 50px;
}

#header {
    text-align: center;
}

a {
    text-decoration: none;
}

#education, #history {
    margin: 35px 0;
}

#education h2, #history h2 {
    border-bottom: solid 1px black;
    padding-bottom: 5px;
}

#education .course span, #history .job span {
    font-weight: bolder;
}
